@media screen and (max-width: 422px) and (min-height: 1068px) {
  body {
    overflow-x: auto;
  }
}
  @media screen and (max-width: 422px) and (min-height: 1068px) {
    .log-menu {
      height: 60vmax;
      width: 60vmax;
      flex-direction: column;
      animation: loginin-responsive 0.5s ease-out;
    }
    .login,
    .create-acc {
      width: 100%;
    }
  }
  @media screen and (max-width: 300px){
    .log-menu {
      height: 60vmax;
      flex-direction: column;
    }
  }
  @media screen and (max-width: 422px){
    #email-id,
    #username,
    #password {
      max-width: 90%;
      /* max-height: 20%; */
    }
    .login{
      align-items: center;
    }
    .login {
        width: 95%;
        height: 60%;
    }
    form{
      justify-content: center;
    }
    /* .create-acc{
      /* max-width: 95vw;
    } */
    .email,
    .password{

      justify-content: center;
      flex-direction: column;
    }

  }
  @keyframes loginin {
    0% {
      height: 10vh;
      width: 10vw;
      top: -100vw;
      right: -100vw;
      left: -100vw;
      opacity: 0;
    }
    100% {
      height: 80vh;
      width: 80vw;
      top: 0vw;
      right: 0vw;
      left: 0vw;
      opacity: 1;
    }
  }
  @keyframes loginin-responsive {
    0% {
      height: 10vh;
      width: 10vw;
      top: -100vw;
      right: -100vw;
      left: -100vw;
      opacity: 0;
    }
    100% {
      height: 60vmax;
      width: 60vmax;
      top: 0vw;
      right: 0vw;
      left: 0vw;
      opacity: 1;
    }
  }
  .log-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.525);
    position: absolute;
  }
  .log-menu {
    height: 80vh;
    width: 100vw;
    margin-top: 13vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: loginin 0.4s ease-out;
  }
  .login {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding-top: 4vh;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-bottom: 4vh;
    backdrop-filter: blur(36px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 17, 17, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
  .create-acc {
    /* height: 10%; */
    height: max-content;
    display: flex;
    width: max-content;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 1vh;
    margin-left: 2vw;
    margin-right: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(36px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 17, 17, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
  .create-acc a {
    text-decoration: none;
    border-radius: 3px;
    /* font-size: 10px; */
    /* font-size: 10px; */

    color: #f0a0f0;
  }
  .create-acc a:hover {
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgb(3, 83, 14) 0%,
      rgb(85, 3, 3) 40%,
      rgb(73, 3, 67) 100%
    );
    border-radius: 3px;
  }

  .log-head {
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid rgba(200, 200, 200, 0.175);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    padding: 4px;
  }
  .log-head div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #email-id,
  #username,
  #password{
    display: flex;
    padding: 0.5vw;
    width: 100%;
    border: none;
    margin: 1.5vmin 1vmin;
    text-align: center;
    font-size: 15px;
    border-radius: 20px;
    outline: 0;
    background: rgb(238, 174, 202);
    background: radial-gradient(
      circle,
      rgba(238, 174, 202, 1) 0%,
      rgba(148, 187, 233, 1) 100%
    );
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  #submit {
    padding: 0.5vw;
    margin: 1.5vmin 1vmin;
    border-radius: 8vmin;
    font-size: 15px;
    width: 100%;
    color: #fff;
    background: rgb(131, 58, 180);
    background: linear-gradient(
      90deg,
      rgba(131, 58, 180, 1) 0%,
      rgba(30, 13, 190, 1) 50%,
      rgba(252, 176, 69, 1) 100%
    );
    outline: 0;
    border: none;
  }
  @keyframes colorhover {
    0% {
      background: rgb(131, 58, 180);
      background: linear-gradient(
        90deg,
        rgba(131, 58, 180, 1) 0%,
        rgba(30, 13, 190, 1) 50%,
        rgba(252, 176, 69, 1) 100%
      );
    }
    100% {
      background: rgb(31, 158, 180);
      background: linear-gradient(
        90deg,
        rgba(231, 58, 180, 1) 0%,
        rgba(30, 13, 90, 1) 50%,
        rgba(52, 176, 69, 1) 100%
      );
    }
  }
  #submit:hover {
    background: rgb(31, 158, 180);
    background: linear-gradient(
      90deg,
      rgba(231, 58, 180, 1) 0%,
      rgba(30, 13, 90, 1) 50%,
      rgba(52, 176, 69, 1) 100%
    );
    animation: colorhover 0.5s ease-out;
  }
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }