<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/nav.css">
  <link rel="stylesheet" href="/style.css" />
  <title>Deyaku | Home</title>
</head>

<body>
  <nav id="header">
    <a href="/" class="heading">
      <svg id="logo" width="5vh" height="8vmin" viewBox="0 0 290 56" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M43.34 29.18C43.34 24.5478 42.3642 20.3896 40.3183 16.7932C38.3068 13.1863 35.3741 10.4256 31.594 8.53193C27.8525 6.59733 23.5065 5.67999 18.64 5.67999H5.62H3.12V8.17999V50V52.5H5.62H18.64C23.4968 52.5 27.8324 51.6263 31.5672 49.7814L31.5672 49.7815L31.578 49.7761C35.3593 47.8854 38.298 45.1463 40.315 41.5726C42.3632 37.9748 43.34 33.8147 43.34 29.18ZM18.64 43H13.58V15.12H18.64C23.5472 15.12 26.9137 16.446 29.1478 18.743L29.1539 18.7493L29.1601 18.7555C31.4635 21.0909 32.76 24.4524 32.76 29.18C32.76 33.8684 31.483 37.186 29.226 39.4784C26.9984 41.7022 23.6076 43 18.64 43ZM83.8419 26.6V24.1H81.3419H68.6019V15.12H83.1419H85.6419V12.62V8.12V5.62H83.1419H60.6419H58.1419V8.12V50V52.5H60.6419H83.1419H85.6419V50V45.5V43H83.1419H68.6019V33.6H81.3419H83.8419V31.1V26.6ZM135.499 9.33868L137.412 5.67999H133.284H127.224H125.661L124.976 7.08494L116.904 23.6525L108.831 7.08494L108.146 5.67999H106.584H100.524H96.3862L98.3104 9.34268L111.704 34.8367V50V52.5H114.204H119.664H122.164V50V34.8343L135.499 9.33868ZM154.763 52.5H156.518L157.114 50.8495L159.878 43.2H174.608L177.371 50.8495L177.968 52.5H179.723H185.483H189.047L187.833 49.1486L172.773 7.56863L172.176 5.91999H170.423H164.123H162.372L161.773 7.56564L146.653 49.1456L145.433 52.5H149.003H154.763ZM225.496 51.675L226.241 52.5H227.352H234.492H240.175L236.335 48.3107L218.734 29.1096L236.166 9.85797L239.948 5.67999H234.312H227.412H226.292L225.546 6.51622L212.632 20.9997V8.17999V5.67999H210.132H204.672H202.172V8.17999V50V52.5H204.672H210.132H212.632V50V37.4214L225.496 51.675ZM261.03 8.17999V5.67999H258.53H253.07H250.57V8.17999V34.58C250.57 38.3809 251.313 41.7705 252.935 44.6325L252.947 44.6541L252.96 44.6755C254.597 47.4339 256.832 49.5398 259.648 50.9236L259.655 50.9273L259.662 50.9309C262.438 52.2722 265.496 52.92 268.79 52.92C272.081 52.92 275.123 52.2737 277.865 50.9278C280.717 49.5474 282.979 47.4427 284.62 44.6755L284.625 44.6676L284.63 44.6597C286.303 41.7921 287.07 38.3922 287.07 34.58V8.17999V5.67999H284.57H279.11H276.61V8.17999V34.64C276.61 37.9887 275.782 39.9788 274.602 41.1329L274.592 41.1425L274.583 41.1522C273.365 42.37 271.567 43.12 268.85 43.12C266.094 43.12 264.248 42.3692 262.989 41.1427C261.841 39.9891 261.03 37.9931 261.03 34.64V8.17999ZM163.233 33.76L167.243 22.5581L171.252 33.76H163.233Z"
          stroke="red" stroke-width="3" />
      </svg>
    </a>
    <div class="sub" id="subid">
      <div class="option-1 signup">
        <a href="/signup">Sign Up</a>
      </div>
      <div class="option-2">
        <a href="/login">Login</a>
      </div>
      <div class="option-3">
        <a href="/support">Support</a>
      </div>
      <div class="option-4">
        <a href="/contactus">Contact Us</a>
      </div>
    </div>
  </nav>
  <section class="background">
    <img src="/clouds.png" alt="clouds" class="clouds" id="clouds" />
    <img src="/mountains.png" alt="mountains" class="mountains" id="mountains" />
    <div class="bodylogo" id="bodylogo">DEYAKU</div>
    <img src="/treesrear.png" alt="trees" class="treesback" id="treesback" />
    <img src="/treesfront.png" alt="trees" class="treesfront" id="treesfront" />
  </section>
  <section class="image-1" id="image-1">
    <div class="description">
      <div class="desc-1" id="desc-1">
        A Social media platform, That connects to nature...
      </div>
      <div class="desc-2" id="desc-2">
        Its just not a virtual platform....
      </div>
      <div class="desc-3" id="desc-3">Its a reality...</div>
      <div class="desc-4" id="desc-4">Explore!!</div>
    </div>
    <div class="image-1" id="image-1">
      <div class="d-1">
        <img src="/4860876.jpg" height="100%" width="100%" alt="" />
      </div>
      <div class="d-2">
        <div class="d2-text" id="d2-text">Post Pictures, Like, comment and message!!!</div>
        <img class="logo-like-comment" height="70%" width="70%" src="/pngaaa.com-748582.png" alt="" />
      </div>
    </div>
  </section>
</body>
<script src="../script.js"></script>
<script>
  let clouds = document.getElementById("clouds");
  let mountains = document.getElementById("mountains");
  let treesback = document.getElementById("treesback");
  let treesfront = document.getElementById("treesfront");
  let bodylogo = document.getElementById("bodylogo");
  let image = document.getElementById("image-1");
  window.addEventListener("scroll", function () {
    let value = window.scrollY;
    if (value < 370.3999938964844) {
      clouds.style.top = value * 0.015 + "vh"; // -0.068
      mountains.style.top = value * 0.025 + "vh";
      treesback.style.top = value * 0 + "vh";
      treesfront.style.top = value * -0.05 + "vh";
      image.style.top = value * -0.05 + "vh";
      if (value < 94.8000030517578) {
        bodylogo.style.fontSize = value * 0.1 + "vmin";
      }
      bodylogo.style.marginTop = value * 0.4 + "vmin";
    }
    let desc1 = document.getElementById("desc-1");
    let desc2 = document.getElementById("desc-2");
    let desc3 = document.getElementById("desc-3")
    let desc4 = document.getElementById("desc-4")
    if (value >= 87) {
      desc1.style.animationDuration = 1 + 's';
      desc1.style.animationName = "transit";
      desc1.style.opacity = 1;
      desc2.style.animationDuration = 1.5 + 's';
      desc2.style.animationName = "transit";
      desc2.style.opacity = 1;
      desc3.style.animationDuration = 2 + 's';
      desc3.style.animationName = "transit";
      desc3.style.opacity = 1;
      desc4.style.animationDuration = 2.5 + 's';
      desc4.style.animationName = "transit";
      desc4.style.opacity = 1;
    }
    let d2text = document.getElementById("d2-text");
    if (value >= 650.2000122070312) {
      // d2text.style.animationDelay = 1 + 's';
      d2text.style.animationDuration = 1 + 's';
      d2text.style.animationName = "transit";
      d2text.style.opacity = 1;
      // d2text.style.opacity = 1;
    }
    console.log(value);
  });
</script>
</html>