<header id="header">
  <div class="heading">
    <a href="/">

      <svg id="logo" width="5vw" height="5vh" viewBox="0 0 290 56" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M43.34 29.18C43.34 24.5478 42.3642 20.3896 40.3183 16.7932C38.3068 13.1863 35.3741 10.4256 31.594 8.53193C27.8525 6.59733 23.5065 5.67999 18.64 5.67999H5.62H3.12V8.17999V50V52.5H5.62H18.64C23.4968 52.5 27.8324 51.6263 31.5672 49.7814L31.5672 49.7815L31.578 49.7761C35.3593 47.8854 38.298 45.1463 40.315 41.5726C42.3632 37.9748 43.34 33.8147 43.34 29.18ZM18.64 43H13.58V15.12H18.64C23.5472 15.12 26.9137 16.446 29.1478 18.743L29.1539 18.7493L29.1601 18.7555C31.4635 21.0909 32.76 24.4524 32.76 29.18C32.76 33.8684 31.483 37.186 29.226 39.4784C26.9984 41.7022 23.6076 43 18.64 43ZM83.8419 26.6V24.1H81.3419H68.6019V15.12H83.1419H85.6419V12.62V8.12V5.62H83.1419H60.6419H58.1419V8.12V50V52.5H60.6419H83.1419H85.6419V50V45.5V43H83.1419H68.6019V33.6H81.3419H83.8419V31.1V26.6ZM135.499 9.33868L137.412 5.67999H133.284H127.224H125.661L124.976 7.08494L116.904 23.6525L108.831 7.08494L108.146 5.67999H106.584H100.524H96.3862L98.3104 9.34268L111.704 34.8367V50V52.5H114.204H119.664H122.164V50V34.8343L135.499 9.33868ZM154.763 52.5H156.518L157.114 50.8495L159.878 43.2H174.608L177.371 50.8495L177.968 52.5H179.723H185.483H189.047L187.833 49.1486L172.773 7.56863L172.176 5.91999H170.423H164.123H162.372L161.773 7.56564L146.653 49.1456L145.433 52.5H149.003H154.763ZM225.496 51.675L226.241 52.5H227.352H234.492H240.175L236.335 48.3107L218.734 29.1096L236.166 9.85797L239.948 5.67999H234.312H227.412H226.292L225.546 6.51622L212.632 20.9997V8.17999V5.67999H210.132H204.672H202.172V8.17999V50V52.5H204.672H210.132H212.632V50V37.4214L225.496 51.675ZM261.03 8.17999V5.67999H258.53H253.07H250.57V8.17999V34.58C250.57 38.3809 251.313 41.7705 252.935 44.6325L252.947 44.6541L252.96 44.6755C254.597 47.4339 256.832 49.5398 259.648 50.9236L259.655 50.9273L259.662 50.9309C262.438 52.2722 265.496 52.92 268.79 52.92C272.081 52.92 275.123 52.2737 277.865 50.9278C280.717 49.5474 282.979 47.4427 284.62 44.6755L284.625 44.6676L284.63 44.6597C286.303 41.7921 287.07 38.3922 287.07 34.58V8.17999V5.67999H284.57H279.11H276.61V8.17999V34.64C276.61 37.9887 275.782 39.9788 274.602 41.1329L274.592 41.1425L274.583 41.1522C273.365 42.37 271.567 43.12 268.85 43.12C266.094 43.12 264.248 42.3692 262.989 41.1427C261.841 39.9891 261.03 37.9931 261.03 34.64V8.17999ZM163.233 33.76L167.243 22.5581L171.252 33.76H163.233Z"
          stroke="red" stroke-width="3" />
      </svg>

    </a>
  </div>
  <div class="search">
    <form action="/search-user" method="post">
      <input type="search" id="search" name="q" placeholder="&#128270;Search" autocomplete="off">
      <button style="display: block;" id="searchicon">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="4vmin" viewBox="0 0 24 24" width="4vmin"
          fill="#ffffff91">
          <path d="M0 0h24v24H0z" fill="none" />
          <path
            d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
        </svg>
      </button>
    </form>
    <div class="sub" id="subid">
      <div class="option-1">
      <abbr title="Feed">

        <a href="/<%=id%>/feed">

          <svg class='icon' xmlns="http://www.w3.org/2000/svg" height="4vmin" viewBox="0 0 24 24" width="4vmin"
            fill="#ffffff91">
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path
              d="M10 19v-5h4v5c0 .55.45 1 1 1h3c.55 0 1-.45 1-1v-7h1.7c.46 0 .68-.57.33-.87L12.67 3.6c-.38-.34-.96-.34-1.34 0l-8.36 7.53c-.34.3-.13.87.33.87H5v7c0 .55.45 1 1 1h3c.55 0 1-.45 1-1z" />
          </svg><br>
        </a>
      </abbr>
    </div>
    
    <div class="option-2">
      <abbr title="New Post">
        <a href="/<%= id %>/new_post">
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="4vmin" viewBox="0 0 24 24" width="4vmin"
          fill="#ffffff91">
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path
              d="M21.02 5H19V2.98c0-.54-.44-.98-.98-.98h-.03c-.55 0-.99.44-.99.98V5h-2.01c-.54 0-.98.44-.99.98v.03c0 .55.44.99.99.99H17v2.01c0 .54.44.99.99.98h.03c.54 0 .98-.44.98-.98V7h2.02c.54 0 .98-.44.98-.98v-.04c0-.54-.44-.98-.98-.98zM16 9.01V8h-1.01c-.53 0-1.03-.21-1.41-.58-.37-.38-.58-.88-.58-1.44 0-.36.1-.69.27-.98H5c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-8.28c-.3.17-.64.28-1.02.28-1.09-.01-1.98-.9-1.98-1.99zM15.96 19H6c-.41 0-.65-.47-.4-.8l1.98-2.63c.21-.28.62-.26.82.02L10 18l2.61-3.48c.2-.26.59-.27.79-.01l2.95 3.68c.26.33.03.81-.39.81z" />
          </svg><br>
        </a>
      </abbr>
    </div>

    <div class="option-3">
      <abbr title="Direct Messages">
        <a href="/<%= id %>/DMs">
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="4vmin" viewBox="0 0 24 24" width="4vmin"
          fill="#ffffff91">
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path d="M20 2H4c-1.1 0-2 .9-2 2v18l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2z" />
          </svg> <br>
        </a>
      </abbr>
    </div>
    <div class="option-4">
      <abbr title="Profile">
        
        <a href="/<%= id %>/Profile">
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="4vmin" viewBox="0 0 24 24" width="4vmin"
          fill="#ffffff91">
          <path d="M0 0h24v24H0V0z" fill="none" />
            <path
              d="M3 5v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2H5c-1.11 0-2 .9-2 2zm12 4c0 1.66-1.34 3-3 3s-3-1.34-3-3 1.34-3 3-3 3 1.34 3 3zm-9 8c0-2 4-3.1 6-3.1s6 1.1 6 3.1v1H6v-1z" />
          </svg><br>
        </a>
      </abbr>
    </div>
    <div class="option-5">
      <abbr title="Log Out">

        <a href="/login">
          
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="4vmin"
          viewBox="0 0 24 24" width="4vmin" fill="#ffffff91">
          <g>
            <path d="M0,0h24v24H0V0z" fill="none" />
          </g>
          <g>
            <g>
              <path
              d="M5,5h6c0.55,0,1-0.45,1-1v0c0-0.55-0.45-1-1-1H5C3.9,3,3,3.9,3,5v14c0,1.1,0.9,2,2,2h6c0.55,0,1-0.45,1-1v0 c0-0.55-0.45-1-1-1H5V5z" />
              <path
              d="M20.65,11.65l-2.79-2.79C17.54,8.54,17,8.76,17,9.21V11h-7c-0.55,0-1,0.45-1,1v0c0,0.55,0.45,1,1,1h7v1.79 c0,0.45,0.54,0.67,0.85,0.35l2.79-2.79C20.84,12.16,20.84,11.84,20.65,11.65z" />
            </g>
          </g>
        </svg><br>
      </a>
    </abbr>
  </div>
</div>
</div>
</header>
<section class="background">
  <img src="/clouds.png" alt="clouds" class="clouds" id="clouds" />
  <img src="/mountains.png" alt="mountains" class="mountains" id="mountains" />
  <img src="/treesrear.png" alt="trees" class="treesback" id="treesback" />
  <img src="/treesfront.png" alt="trees" class="treesfront" id="treesfront" />
</section>